.border-primary {
	border: solid 1px $primaryColor;
}
.border-ccc {
	border: solid 1px #ccc;
}
.border-radius-5 {
	border-radius: 5px;
}
.no-border {
	border: none;
}
.border-double {
	border: double;
}
