.bg-000 {
    background-color:#000;
}
.bg-fff {
    background-color:#fff;
}
.bg-ccc {
    background-color:#ccc;
}
.bg-red {
    background-color:#cf2027;
}
.bg-primary {
    background-color: $primaryColor;
}
.bg-secondly {
    background-color: #26498f;
}
.bg-green {
	background-color: #1acc93;
}	

.bg-footer {
    background-color: #3d3d3d;
}
.color-fff {
    color: #fff;
}
.color-000 {
    color:#000;
}
.color-primary {
    color: $primaryColor;
}
.color-secondly {
    color: #26498f;
}
.color-green {
	color: #1acc93;
}