	.no-display {
		display:none;
	}
	.block {
		display:block;
	}
	.inline {
		display:inline;
	}
	.inline-block {
		display:inline-block;
	}
	.flex {
		display: flex;
		flex-direction: row;
	}
	.table-cell {
		display:table-cell;
	}
