	.inline-md {
		display:inline;
	}
	.inline-block-md {
		display:inline-block;
	}
	.block-md {
		display:block;
	}
	.no-display-md {
		display:none;
	}
	.flex-md {
		display: flex;
		flex-direction: row;
	}
	.flex-child-md {
		flex-grow: 0;
		flex-shrink: 0;
	}
