	.fs-14-md {
		font-size: 14px;
	}
	.fs-16-md {
		font-size: 16px;
	}
	.fs-18-md {
		font-size:18px;
	}
	.fs-24-md {
		font-size: 24px;
	}
	.fs-30-md {
		font-size: 30px;
	}
	.fs-34-md {
		font-size: 34px;
	}
	.fs-60-md {
		font-size: 60px;
	}